<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart-Xàbia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div class="phone">
        <div class="phone-screen">
        </div>
        <div class="phone-button">
        </div>
    </div>
    <div class="section section-1">
    </div>
    <div class="section section-2">
        <p>Descarrega ja Smart-Xàbia per a Android</p><br>
        <div class="download-button">
            <i class="fa fa-download"></i>
            Descarregar
        </div>
    </div>
    <div class="section section-3">
        <div class="galery">
            <div class="galery-item">
                <span class="galery-item-title">ORATGE</span>
                <span class="galery-item-description">Consulta l'oratge i la previsió en qualsevol moment</span>
                <div class="galery-item-img" style="background-image: url(public/img/cloud-sun-solid.png);"></div>
            </div>
            <div class="galery-item">
                <span class="galery-item-title">VISITA</span>
                <span class="galery-item-description">Troba llocs d'interés al teu voltant</span>
                <div class="galery-item-img" style="background-image: url(public/img/map-marked-alt-solid.png);"></div>
            </div>
            <div class="galery-item">
                <span class="galery-item-title">RESERVA</span>
                <span class="galery-item-description">Reserva esmorzars a la cantina còmodament</span>
                <div class="galery-item-img" style="background-image: url(public/img/hamburger-solid.png);"></div>
            </div>
            <div class="galery-item">
                <span class="galery-item-title">XATEJA</span>
                <span class="galery-item-description">Interactua amb altres usuaris de l'aplicació</span>
                <div class="galery-item-img" style="background-image: url(public/img/users-solid.png);"></div>
            </div>
        </div>
    </div>
    <div class="section section-4">
        Smart-Xàbia 2021<br>
        <small>Arnau Camprubí</small><br>
        <small>Sikes Bowman</small><br>
    </div>
</body>
</html>