<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart-Xàbia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div class="phone">
        <div class="phone-screen">
        </div>
        <div class="phone-button">
        </div>
    </div>
    <div class="section section-1">
    </div>
    <div class="section section-2">
        <p>Descarrega ja Smart-Xàbia per a Android</p><br>
        <div class="download-button">
            <i class="fa fa-download"></i>
            Descarregar
        </div>
    </div>
    <div class="section section-3">

    </div>
</body>
</html>